aiohttp==3.8.5
aiohttp-retry==2.8.3
aiosignal==1.3.1
alembic==1.12.0
amqp==5.1.1
anyio==4.0.0
appdirs==1.C4.4
async-timeout==4.0.3
attrs==23.1.0
billiard==4.1.0
blinker==1.6.2
celery==5.3.4
certifi==2023.7.22
cffi==1.15.1
charset-normalizer==3.2.0
click==8.1.7
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
consonance==0.1.2
cryptography==41.0.3
customgpt-client==1.1.6
dissononce==0.34.3
dnspython==2.4.2
environs==9.5.0
exceptiongroup==1.1.3
Flask==2.3.3
frozenlist==1.4.0
greenlet==2.0.2
gunicorn==21.2.0
h11==0.14.0
httpcore==0.17.3
idna==3.4
itsdangerous==2.1.2
Mako==1.2.4
MarkupSafe==2.1.3
marshmallow==3.20.1
multidict==6.0.4
ngrok==0.9.0
packaging==23.1
prompt-toolkit==3.0.39
protobuf==4.24.2
psycopg2-binary==2.9.7
pycparser==2.21
PyJWT==2.8.0
python-axolotl==0.2.2
python-axolotl-curve25519==0.4.1.post2
python-dateutil==2.8.2
python-dotenv==1.0.0
pytz==2023.3.post1
pywhatsapp==0.0.7
redis==5.0.0
requests==2.31.0
six==1.10.0
sniffio==1.3.0
SQLAlchemy==2.0.20
sseclient-py==1.7.2
transitions==0.9.0
twilio==8.7.0
typing_extensions==4.7.1
tzdata==2023.3
urllib3==2.0.4
uvicorn==0.23.2
vine==5.0.0
wcwidth==0.2.6
Werkzeug==2.3.7
yarl==1.9.2
yowsup2==2.5.0
